edge-tts
openai-whisper
moviepy==1.0.3
ffmpeg-python
ollama
apscheduler
google-api-python-client
google-auth-oauthlib
requests
Pillow
PyYAML
python-dotenv
colorlog
pydub
numpy
flask
flask-cors
pydantic-settings
sqlalchemy
alembic
faster-whisper
piper-tts
